@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import "./base/variables";

@import "./blocks/socials";
@import "./blocks/button";
@import "./blocks/slides";

* {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

a, button, input[type="submit"] {
  transition: all .3s ease-in;
  cursor: pointer;
}

// .no-list-style {
// 	list-style: none;
// 	padding: 0;
// 	margin: 0;
// }

@import "./blocks/header";
@import "./blocks/home-page/home-hero";
@import "./blocks/home-page/home-products";
@import "./blocks/home-page/home-blogs";
@import "./blocks/home-page/home-testimonials";
@import "./blocks/home-page/home-banner";
@import "./blocks/footer";