.home-products__container{
	@media screen and (max-width:425px){
		padding: 0 0 0 15px;
	}
}

.home-products {
	padding-top: 30px;

	@media screen and (min-width:992px) {
		padding-top: 58px;

	}

	&__title {
		justify-content: space-between;
		align-items: center;

		h2 {

			@media screen and (min-width: 992px) {
				font-size: 22px;
				line-height: 34px;
			}

			@media screen and (min-width: 1140px) {
				font-weight: 600;
				font-size: 36px;
				line-height: 54px;
			}
		}

		a {
			border: 1px solid #EFEFEF;
			border-radius: 8px;
		}
	}

	&__main-list {
		display: none;

		@media screen and (min-width: 1140px) {
			display: contents;
		}
	}

	&__list {
		margin-top: 40px;
		justify-content: space-between;
	}

	&__item {
		align-items: center;

	}

	&__link {
		position: relative;
		padding: 22px 31px 22px 16px;
		gap: 8px;
		background-color: $white-color;
		border: 2px solid #EFEFEF;
		border-radius: 8px;
		text-decoration: none;
		color: $text-primary-color;
		display: flex;
		align-items: center;

		svg {
			color: $green-brand-color;
		}

		&:hover {
			border: 1px solid $invisible-green-color;
			text-decoration: none;
			color: $text-primary-color;
		}

		&:active {
			color: $green-brand-color;
			border: 1px solid $green-brand-color;
		}


	}

	&__grid {
		margin-top: 45px;

		// @media screen and (min-width: 768px) {
		// 	grid-gap: 30px;
		// 	grid-template-columns: repeat(2, 1fr);

		// }

		// @media screen and (min-width: 1065px) {
		// 	grid-template-columns: repeat(3, 1fr);
		// 	grid-gap: 30px;
		// }
	}

	&__wrap {
		@media screen and (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 30px;
		}

		@media screen and (min-width:1400px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__product {
		position: relative;
		padding: 28px 11px;
		border: 2px solid #EFEFEF;
		border-radius: 8px;
		max-width: 319px;
		height: 100%;

		@media screen and (min-width: 768px) {
			max-width: none;
		}
		@media screen and (min-width:992px) {
			padding: 28px;

		}
	}

	&__favorite {
		position: absolute;
		padding: 8px;
		border: 1px solid $light-grey-stroke-color;
		background-color: $white-color;
		border-radius: 100%;
		right: 12px;
		top: 12px;
		display: grid;
		place-content: center;
		transition: tranform;

		svg {
			color: $yellow-color;
		}

		&--active,
		&:hover {
			background: $yellow-color;

			svg {
				color: $white-color;
			}
		}

		&--active {
			animation: rotate 1.5s linear infinite;
		}
	}

	&__image {
		height: 294px;
		background-repeat: no-repeat;
		background-size: 265px;
		background-position: top;
		border-radius: 12px;

		&--cilantro {
			background-image: url(../../../assets/img/cilantro.png);
		}

		&--corn {
			background-image: url(../../../assets/img/corn.png);
		}

		&--spinach {
			background-image: url(../../../assets/img/spinach.png);
		}
	}

	&__ratung {
		display: flex;

		img {
			margin-right: 13px;
			object-fit: contain;
		}

		div {
			color: $text-secondary-color;
		}
	}

	&__name {
		display: block;
		margin-top: 8px;
		font-weight: 500;
		font-size: 16px;
		line-height: 25px;
		color: $text-primary-color;
		text-decoration: none;

		@media screen and (min-width:992px) {
			font-size: 14px;
			line-height: 25px;

		}
	}

	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 8px;


		div {
			font-weight: 600;
			font-size: 28px;
			line-height: 54px;
			color: $text-primary-color;
		}

		a {
			border: 1px solid #EFEFEF;
			border-radius: 8px;
			padding: 12px;
			color: $green-brand-color;

			&:hover {
				color: $green-brand-color;
				background-color: $invisible-green-color;
			}

			&:active {
				background-color: $green-brand-color;
				color: $white-color;
			}
		}
	}
}


@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}