// @import url(https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css);

.home-testimonials {
    padding-top: 51px;

    @media screen and (min-width:992px) {
        padding-top: 86px;

    }

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: $text-primary-color;
        padding-bottom: 44px;
    }

    //     &__review {
    //         margin: 21px auto 0 auto;
    //         width: 318px;
    //         border: 1px solid #EFEFEF;
    //         box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
    //         border-radius: 12px;
    //         padding: 22px;


    //         @media screen and (min-width:992px) {
    //             padding: 35px 39px 41px 34px;
    //             margin: 44px auto 0 auto;
    //             width: 540px;

    //         }

    //         p {
    //             margin-top: 15px;
    //             font-weight: 300;
    //             font-size: 14px;
    //             line-height: 28px;
    //             color: $text-primary-color;

    //             @media screen and (min-width:992px) {
    //                 font-size: 16px;
    //                 line-height: 28px;

    //             }
    //         }
    //     }

    //     &__title {
    //         display: flex;
    //         align-items: center;
    //         gap: 19px;

    //         @media screen and (min-width:992px) {
    //             gap: 24px;

    //         }

    //         h3 {
    //             font-weight: 500;
    //             font-size: 18px;
    //             line-height: 25px;
    //             color: $text-primary-color;
    //         }

    //         div {
    //             font-weight: 400;
    //             font-size: 14px;
    //             line-height: 178.19%;
    //             color: $text-secondary-color;
    //         }

    //         img {
    //             width: 40px;
    //             height: 40px;

    //             @media screen and (min-width:992px) {
    //                 width: 64px;
    //                 height: 64px;

    //             }
    //         }
    //     }

    //     &__rating {
    //         margin-top: 28px;
    //     }

    //     // &__slides{
    //     //     display: flex;
    //     //     justify-content: center;
    //     //     gap: 5px;
    //     //     margin-top: 72px;
    //     // }
}

.swiper {

    padding-bottom: 80px;

    .swiper-wrapper {
        // padding-top: 51px;

        @media screen and (min-width:992px) {
            // padding-top: 86px;

        }
    }

    // h2 {
    //     text-align: center;
    //     font-weight: 600;
    //     font-size: 36px;
    //     line-height: 54px;
    //     color: $text-primary-color;
    // }



    &-slide {
        // margin: 21px auto 0 auto;
        width: 318px;
        border: 1px solid #EFEFEF;
        box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
        border-radius: 12px;
        padding: 22px;
        position: relative;
        top: 35px;
        transition: all .5s ease-in;

        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: .5;
            transition: all 0.5s;
        }

        &-active {
            top: 0;
            &::after {
                opacity: 0;
            }
        }


        @media screen and (min-width:992px) {
            padding: 35px 39px 41px 34px;
            // margin: 44px auto 0 auto;
            width: 540px;

        }

        p {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 28px;
            color: $text-primary-color;

            @media screen and (min-width:992px) {
                font-size: 16px;
                line-height: 28px;

            }
        }
    }

    &-title {
        // display: flex;
        // align-items: center;
        gap: 19px;


        @media screen and (min-width:992px) {
            gap: 24px;

        }

        h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: $text-primary-color;
        }

        div {
            font-weight: 400;
            font-size: 14px;
            line-height: 178.19%;
            color: $text-secondary-color;
        }

        img {
            width: 40px;
            height: 40px;

            @media screen and (min-width:992px) {
                width: 64px;
                height: 64px;

            }
        }
    }

    &-rating {
        margin-top: 28px;
    }

    &-pagination {
        margin-top: 100px;
    }

    .swiper-pagination {
        --swiper-navigation-color: #359740;
        --swiper-pagination-color: #359740;
    }

    .swiper-pagination-bullet {
        width: 35px;
        height: 6px;
        opacity: 0.2;
        border-radius: 30px;

    }

    // .swiper-pagination-bullet {

    //     // background: #d7ead9;
    // }

}