.header {
    box-shadow: 0px 4px 12px rgba(207, 207, 207, 0.25);
    padding: 12px 0;

    &__logo {
        margin-right: 64px;
    }

    &__nav {
        margin-right: 45px;
        width: 463px;
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        gap: 32px;
    }

    &__item {
        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 178.19%;
            text-decoration: none;
            color: $text-secondary-color;

            &:hover {
                color: black;
            }
        }
    }

    &__social {
        display: flex;
        gap: 10px;
        margin-right: 15px;
        width: 56px;

        a {
            &:hover {
                color: #000;
            }
        }

        &-item {
            align-items: center;
            width: 24px;
            height: 24px;
        }
    }

    &__search {
        margin-right: 15px;
    }

    &__actions {
        align-items: center;
        display: flex;
        width: 72px;
        gap: 26px;
    }

    &__link {
        width: 24px;
        height: 24px;
    }
}